<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{5875,2755},{349,367}}</string>
                <key>offset</key>
                <string>{273,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{726,300},{349,367}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{7502,2},{1147,651}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,158},{1147,651}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2378,1840},{1165,903}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,18},{1165,903}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,943},{1195,901}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{1195,901}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2332,2745},{1147,895}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,23},{1147,895}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3545,1848},{1177,885}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,27},{1177,885}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,2759},{1165,867}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,35},{1165,867}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3654},{1195,841}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,51},{1195,841}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,3926},{1109,809}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,65},{1109,809}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{4672,3630},{919,785}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,85},{919,785}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1846},{1169,909}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,17},{1169,909}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{3765,931},{1241,915}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{1241,915}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,3642},{1151,839}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,55},{1151,839}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{6259,1836},{1241,915}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{1241,915}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{5016,921},{1241,915}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{1241,915}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{6259,919},{1241,915}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{1241,915}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{6259,2},{1241,915}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{1241,915}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{5008,1838},{1237,915}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{1237,915}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,2},{1255,939}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1255,939}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1255,939}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1255,939}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1255,939}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1255,939}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1255,939}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1255,939}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2516,2},{1247,933}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{1247,933}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3481,3620},{1189,839}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,73},{1189,839}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{3765,2},{1249,927}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{1249,927}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{5016,2},{1241,917}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{1241,917}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{6247,2753},{1215,897}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{1215,897}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{7502,1151},{1081,677}}</string>
                <key>offset</key>
                <string>{13,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,78},{1081,677}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{7502,2234},{1083,675}}</string>
                <key>offset</key>
                <string>{11,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,72},{1083,675}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{7464,3319},{1093,585}}</string>
                <key>offset</key>
                <string>{17,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,80},{1093,585}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{5593,3630},{1033,577}}</string>
                <key>offset</key>
                <string>{-24,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,84},{1033,577}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{4672,4417},{891,483}}</string>
                <key>offset</key>
                <string>{51,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,100},{891,483}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4724,2755},{1149,873}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,47},{1149,873}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3545,2735},{1177,883}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,40},{1177,883}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2757},{1165,895}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,30},{1165,895}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2516,937},{1195,901}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,23},{1195,901}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,1852},{1157,905}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,18},{1157,905}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
            <key>effect_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,943},{1177,907}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,15},{1177,907}}</string>
                <key>sourceSize</key>
                <string>{1255,939}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ancestralskill.png</string>
            <key>size</key>
            <string>{8192,8192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:755d83c7181e7e27384391cd0e9ca727:c990ca23675f12d9fb988100b0b0f49a:9c7eb1b3e8f0df89630dc9fe54dbb0d6$</string>
            <key>textureFileName</key>
            <string>ancestralskill.png</string>
        </dict>
    </dict>
</plist>
