<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fail_0_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,208},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{101,101}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>fail_0_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{101,101}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>fail_0_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,323},{102,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{102,103}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>
            </dict>
            <key>fail_0_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,105},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,101}}</string>
                <key>sourceSize</key>
                <string>{104,103}</string>
            </dict>
            <key>fail_1_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,218},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>fail_1_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>fail_1_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,107}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>
            </dict>
            <key>fail_1_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{104,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,103}}</string>
                <key>sourceSize</key>
                <string>{104,103}</string>
            </dict>
            <key>fail_2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,105},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{101,101}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>fail_2_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,325},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{103,103}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>fail_2_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{104,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{104,105}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>
            </dict>
            <key>fail_2_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,111},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{102,101}}</string>
                <key>sourceSize</key>
                <string>{104,103}</string>
            </dict>
            <key>fail_3_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,101},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{95,95}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>fail_3_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{97,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{97,95}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>fail_3_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,412},{98,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{98,97}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>
            </dict>
            <key>fail_3_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,198},{94,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{94,95}}</string>
                <key>sourceSize</key>
                <string>{104,103}</string>
            </dict>
            <key>stay_0_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,428},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>stay_0_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,430},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>stay_0_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,431},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>stay_0_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>success_0_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,428},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{71,71}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>success_0_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,430},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{71,71}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>success_0_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,431},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{71,71}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>success_0_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{71,71}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>success_1_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,208},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,99}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>success_1_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,311},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,99}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>success_1_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,311},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,99}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>success_1_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,99}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>success_2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,208},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>success_2_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>success_2_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,105},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>success_2_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>success_3_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,408},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{97,97}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>success_3_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,309},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{97,97}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>success_3_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,412},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{97,97}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>success_3_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,412},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{97,97}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>success_4_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,89},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{85,85}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>success_4_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{85,85}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>success_4_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,285},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{85,85}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>success_4_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,198},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{85,85}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arrowkey.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01a4e8d59452e6590a34b925e363caa2:e135c1677fc630174992baa9b7ff49dc:e1a9f806eb0888d3482bd4038894fa40$</string>
            <key>textureFileName</key>
            <string>arrowkey.png</string>
        </dict>
    </dict>
</plist>
