<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DKgigaSlasher_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,719},{296,153}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{296,153}}</string>
                <key>sourceSize</key>
                <string>{302,167}</string>
            </dict>
            <key>DKgigaSlasher_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{285,204}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{285,204}}</string>
                <key>sourceSize</key>
                <string>{285,206}</string>
            </dict>
            <key>DKgigaSlasher_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,2},{324,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,266}}</string>
                <key>sourceSize</key>
                <string>{324,266}</string>
            </dict>
            <key>DKgigaSlasher_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,2},{310,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,262}}</string>
                <key>sourceSize</key>
                <string>{310,262}</string>
            </dict>
            <key>DKgigaSlasher_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,209}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{366,209}}</string>
                <key>sourceSize</key>
                <string>{366,271}</string>
            </dict>
            <key>DKgigaSlasher_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,335},{345,305}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,305}}</string>
                <key>sourceSize</key>
                <string>{357,305}</string>
            </dict>
            <key>DKgigaSlasher_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{334,349}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{334,349}}</string>
                <key>sourceSize</key>
                <string>{342,349}</string>
            </dict>
            <key>DKgigaSlasher_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{331,364}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{331,364}}</string>
                <key>sourceSize</key>
                <string>{331,366}</string>
            </dict>
            <key>DKgigaSlasher_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1004},{241,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,266}}</string>
                <key>sourceSize</key>
                <string>{241,266}</string>
            </dict>
            <key>DKgigaSlasher_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,2},{321,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,289}}</string>
                <key>sourceSize</key>
                <string>{321,289}</string>
            </dict>
            <key>DKgigaSlasher_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,270},{320,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,291}}</string>
                <key>sourceSize</key>
                <string>{320,291}</string>
            </dict>
            <key>DKgigaSlasher_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{333,309}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{333,309}}</string>
                <key>sourceSize</key>
                <string>{333,313}</string>
            </dict>
            <key>DKgigaSlasher_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,266},{308,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,297}}</string>
                <key>sourceSize</key>
                <string>{308,297}</string>
            </dict>
            <key>DKgigaSlasher_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{351,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,302}}</string>
                <key>sourceSize</key>
                <string>{351,302}</string>
            </dict>
            <key>DKgigaSlasher_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,293},{319,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,307}}</string>
                <key>sourceSize</key>
                <string>{319,307}</string>
            </dict>
            <key>DKgigaSlasher_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{333,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,309}}</string>
                <key>sourceSize</key>
                <string>{333,309}</string>
            </dict>
            <key>DKgigaSlasher_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,563},{285,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,300}}</string>
                <key>sourceSize</key>
                <string>{285,300}</string>
            </dict>
            <key>Dalert_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,850},{295,152}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{295,152}}</string>
                <key>sourceSize</key>
                <string>{307,156}</string>
            </dict>
            <key>Dalert_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,602},{297,152}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{297,152}}</string>
                <key>sourceSize</key>
                <string>{307,156}</string>
            </dict>
            <key>Dalert_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,641},{299,152}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{299,152}}</string>
                <key>sourceSize</key>
                <string>{307,156}</string>
            </dict>
            <key>Dalert_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,565},{307,152}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{307,152}}</string>
                <key>sourceSize</key>
                <string>{307,156}</string>
            </dict>
            <key>Dalert_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,487},{301,152}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{301,152}}</string>
                <key>sourceSize</key>
                <string>{307,156}</string>
            </dict>
            <key>Dalert_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,602},{297,152}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{297,152}}</string>
                <key>sourceSize</key>
                <string>{307,156}</string>
            </dict>
            <key>Dalert_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,850},{295,152}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{295,152}}</string>
                <key>sourceSize</key>
                <string>{307,156}</string>
            </dict>
            <key>Dalert_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,487},{301,152}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{301,152}}</string>
                <key>sourceSize</key>
                <string>{307,156}</string>
            </dict>
            <key>Dalert_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,565},{307,152}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{307,152}}</string>
                <key>sourceSize</key>
                <string>{307,156}</string>
            </dict>
            <key>Dalert_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,641},{299,152}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{299,152}}</string>
                <key>sourceSize</key>
                <string>{307,156}</string>
            </dict>
            <key>Dalert_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,950},{285,152}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{285,152}}</string>
                <key>sourceSize</key>
                <string>{307,156}</string>
            </dict>
            <key>Dalert_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,796},{287,152}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{287,152}}</string>
                <key>sourceSize</key>
                <string>{307,156}</string>
            </dict>
            <key>Dalert_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,642},{291,152}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,152}}</string>
                <key>sourceSize</key>
                <string>{307,156}</string>
            </dict>
            <key>Dalert_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,796},{287,152}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{287,152}}</string>
                <key>sourceSize</key>
                <string>{307,156}</string>
            </dict>
            <key>Dalert_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,950},{285,152}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{285,152}}</string>
                <key>sourceSize</key>
                <string>{307,156}</string>
            </dict>
            <key>stabO1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,868},{96,75}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{96,75}}</string>
                <key>sourceSize</key>
                <string>{144,75}</string>
            </dict>
            <key>stabO1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,881},{142,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{142,71}}</string>
                <key>sourceSize</key>
                <string>{144,75}</string>
            </dict>
            <key>stand2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,795},{84,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,78}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>stand2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,780},{86,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,78}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>stand2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,692},{86,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,78}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>stand2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,780},{86,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,78}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>stand2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,795},{84,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,78}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>walk2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,516},{87,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,79}}</string>
                <key>sourceSize</key>
                <string>{87,79}</string>
            </dict>
            <key>walk2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,605},{85,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,79}}</string>
                <key>sourceSize</key>
                <string>{87,79}</string>
            </dict>
            <key>walk2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,427},{87,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,79}}</string>
                <key>sourceSize</key>
                <string>{87,79}</string>
            </dict>
            <key>walk2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,338},{87,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,79}}</string>
                <key>sourceSize</key>
                <string>{87,79}</string>
            </dict>
            <key>walk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,795},{290,147}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{290,147}}</string>
                <key>sourceSize</key>
                <string>{302,151}</string>
            </dict>
            <key>walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,905},{292,147}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{292,147}}</string>
                <key>sourceSize</key>
                <string>{302,151}</string>
            </dict>
            <key>walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,756},{296,147}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{296,147}}</string>
                <key>sourceSize</key>
                <string>{302,151}</string>
            </dict>
            <key>walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,338},{302,147}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{302,147}}</string>
                <key>sourceSize</key>
                <string>{302,151}</string>
            </dict>
            <key>walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,874},{294,147}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{294,147}}</string>
                <key>sourceSize</key>
                <string>{302,151}</string>
            </dict>
            <key>walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1023},{280,147}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{280,147}}</string>
                <key>sourceSize</key>
                <string>{302,151}</string>
            </dict>
            <key>walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{282,147}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{282,147}}</string>
                <key>sourceSize</key>
                <string>{302,151}</string>
            </dict>
            <key>walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,944},{286,147}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,147}}</string>
                <key>sourceSize</key>
                <string>{302,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>character.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e9f0cf539b23f85399d0e76553b7f13:89a602f3ae433009068e72eba09f79da:9d7b98458f0235176999d89cc8ded93d$</string>
            <key>textureFileName</key>
            <string>character.png</string>
        </dict>
    </dict>
</plist>
