<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1414},{290,290}}</string>
                <key>offset</key>
                <string>{-35,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{498,378}</string>
            </dict>
            <key>effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{300,378}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{300,378}}</string>
                <key>sourceSize</key>
                <string>{498,378}</string>
            </dict>
            <key>effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{464,274}}</string>
                <key>offset</key>
                <string>{6,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,104},{464,274}}</string>
                <key>sourceSize</key>
                <string>{498,378}</string>
            </dict>
            <key>effect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,482},{464,284}}</string>
                <key>offset</key>
                <string>{6,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,94},{464,284}}</string>
                <key>sourceSize</key>
                <string>{498,378}</string>
            </dict>
            <key>effect_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,982},{466,286}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,92},{466,286}}</string>
                <key>sourceSize</key>
                <string>{498,378}</string>
            </dict>
            <key>effect_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1478},{476,294}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,84},{476,294}}</string>
                <key>sourceSize</key>
                <string>{498,378}</string>
            </dict>
            <key>effect_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{490,282}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,96},{490,282}}</string>
                <key>sourceSize</key>
                <string>{498,378}</string>
            </dict>
            <key>effect_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{494,302}}</string>
                <key>offset</key>
                <string>{-2,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,76},{494,302}}</string>
                <key>sourceSize</key>
                <string>{498,378}</string>
            </dict>
            <key>effect_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{492,292}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,86},{492,292}}</string>
                <key>sourceSize</key>
                <string>{498,378}</string>
            </dict>
            <key>effect_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,992},{484,216}}</string>
                <key>offset</key>
                <string>{3,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,162},{484,216}}</string>
                <key>sourceSize</key>
                <string>{498,378}</string>
            </dict>
            <key>effect_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{478,202}}</string>
                <key>offset</key>
                <string>{0,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,175},{478,202}}</string>
                <key>sourceSize</key>
                <string>{498,378}</string>
            </dict>
            <key>effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,468},{428,362}}</string>
                <key>offset</key>
                <string>{33,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,16},{428,362}}</string>
                <key>sourceSize</key>
                <string>{498,378}</string>
            </dict>
            <key>effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1484},{484,296}}</string>
                <key>offset</key>
                <string>{7,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,82},{484,296}}</string>
                <key>sourceSize</key>
                <string>{498,378}</string>
            </dict>
            <key>effect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,498},{482,222}}</string>
                <key>offset</key>
                <string>{5,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,156},{482,222}}</string>
                <key>sourceSize</key>
                <string>{498,378}</string>
            </dict>
            <key>effect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{480,208}}</string>
                <key>offset</key>
                <string>{6,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,170},{480,208}}</string>
                <key>sourceSize</key>
                <string>{498,378}</string>
            </dict>
            <key>effect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{464,208}}</string>
                <key>offset</key>
                <string>{6,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,170},{464,208}}</string>
                <key>sourceSize</key>
                <string>{498,378}</string>
            </dict>
            <key>effect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,468},{464,208}}</string>
                <key>offset</key>
                <string>{6,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,170},{464,208}}</string>
                <key>sourceSize</key>
                <string>{498,378}</string>
            </dict>
            <key>effect_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,948},{464,242}}</string>
                <key>offset</key>
                <string>{6,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,136},{464,242}}</string>
                <key>sourceSize</key>
                <string>{498,378}</string>
            </dict>
            <key>effect_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1450},{464,252}}</string>
                <key>offset</key>
                <string>{6,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,126},{464,252}}</string>
                <key>sourceSize</key>
                <string>{498,378}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dkswordskill.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db24478297828d509b6b7df9e3181dac:cda86e413e40e4ee90acecc3c8ec0c10:81e9201080301ab4cf7e81a552d5cd85$</string>
            <key>textureFileName</key>
            <string>dkswordskill.png</string>
        </dict>
    </dict>
</plist>
