<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>screen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{575,443}}</string>
                <key>offset</key>
                <string>{5,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,250},{575,443}}</string>
                <key>sourceSize</key>
                <string>{1117,693}</string>
            </dict>
            <key>screen_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{1083,617}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,74},{1083,617}}</string>
                <key>sourceSize</key>
                <string>{1117,693}</string>
            </dict>
            <key>screen_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,1240},{1095,627}}</string>
                <key>offset</key>
                <string>{11,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,64},{1095,627}}</string>
                <key>sourceSize</key>
                <string>{1117,693}</string>
            </dict>
            <key>screen_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2148,1871},{1107,631}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,60},{1107,631}}</string>
                <key>sourceSize</key>
                <string>{1117,693}</string>
            </dict>
            <key>screen_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,2504},{1095,633}}</string>
                <key>offset</key>
                <string>{-11,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{1095,633}}</string>
                <key>sourceSize</key>
                <string>{1117,693}</string>
            </dict>
            <key>screen_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1126},{1075,631}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,61},{1075,631}}</string>
                <key>sourceSize</key>
                <string>{1117,693}</string>
            </dict>
            <key>screen_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2735,2},{1083,617}}</string>
                <key>offset</key>
                <string>{11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,76},{1083,617}}</string>
                <key>sourceSize</key>
                <string>{1117,693}</string>
            </dict>
            <key>screen_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,619},{1087,619}}</string>
                <key>offset</key>
                <string>{10,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,74},{1087,619}}</string>
                <key>sourceSize</key>
                <string>{1117,693}</string>
            </dict>
            <key>screen_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2176,1242},{1089,627}}</string>
                <key>offset</key>
                <string>{10,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,66},{1089,627}}</string>
                <key>sourceSize</key>
                <string>{1117,693}</string>
            </dict>
            <key>screen_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,1869},{1089,629}}</string>
                <key>offset</key>
                <string>{9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,64},{1089,629}}</string>
                <key>sourceSize</key>
                <string>{1117,693}</string>
            </dict>
            <key>screen_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2176,621},{1089,619}}</string>
                <key>offset</key>
                <string>{10,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,66},{1089,619}}</string>
                <key>sourceSize</key>
                <string>{1117,693}</string>
            </dict>
            <key>screen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3267,621},{877,627}}</string>
                <key>offset</key>
                <string>{16,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,66},{877,627}}</string>
                <key>sourceSize</key>
                <string>{1117,693}</string>
            </dict>
            <key>screen_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,2},{1057,503}}</string>
                <key>offset</key>
                <string>{4,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,171},{1057,503}}</string>
                <key>sourceSize</key>
                <string>{1117,693}</string>
            </dict>
            <key>screen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1759},{1053,665}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,28},{1053,665}}</string>
                <key>sourceSize</key>
                <string>{1117,693}</string>
            </dict>
            <key>screen_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3267,1500},{1075,693}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{1075,693}}</string>
                <key>sourceSize</key>
                <string>{1117,693}</string>
            </dict>
            <key>screen_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3285,2577},{1083,653}}</string>
                <key>offset</key>
                <string>{11,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,40},{1083,653}}</string>
                <key>sourceSize</key>
                <string>{1117,693}</string>
            </dict>
            <key>screen_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3133},{1087,663}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,30},{1087,663}}</string>
                <key>sourceSize</key>
                <string>{1117,693}</string>
            </dict>
            <key>screen_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2192,2577},{1091,635}}</string>
                <key>offset</key>
                <string>{10,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,58},{1091,635}}</string>
                <key>sourceSize</key>
                <string>{1117,693}</string>
            </dict>
            <key>screen_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2500},{1091,631}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,60},{1091,631}}</string>
                <key>sourceSize</key>
                <string>{1117,693}</string>
            </dict>
            <key>screen_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,2},{1095,615}}</string>
                <key>offset</key>
                <string>{10,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,76},{1095,615}}</string>
                <key>sourceSize</key>
                <string>{1117,693}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishskill.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcc0ac1f8f073d622f958db288d99f08:5479b485fe27839edbee5d7833537a37:623f5ebad72c3371e334a873acf0b312$</string>
            <key>textureFileName</key>
            <string>fishskill.png</string>
        </dict>
    </dict>
</plist>
