<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{558,469}}</string>
                <key>offset</key>
                <string>{-16,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{558,469}}</string>
                <key>sourceSize</key>
                <string>{606,561}</string>
            </dict>
            <key>effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,291},{570,477}}</string>
                <key>offset</key>
                <string>{-14,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{570,477}}</string>
                <key>sourceSize</key>
                <string>{606,561}</string>
            </dict>
            <key>effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{560,291}}</string>
                <key>offset</key>
                <string>{16,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,270},{560,291}}</string>
                <key>sourceSize</key>
                <string>{606,561}</string>
            </dict>
            <key>effect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{562,287}}</string>
                <key>offset</key>
                <string>{15,-137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,274},{562,287}}</string>
                <key>sourceSize</key>
                <string>{606,561}</string>
            </dict>
            <key>effect_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{516,279}}</string>
                <key>offset</key>
                <string>{-9,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,280},{516,279}}</string>
                <key>sourceSize</key>
                <string>{606,561}</string>
            </dict>
            <key>effect_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{380,265}}</string>
                <key>offset</key>
                <string>{30,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,286},{380,265}}</string>
                <key>sourceSize</key>
                <string>{606,561}</string>
            </dict>
            <key>effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,295},{576,483}}</string>
                <key>offset</key>
                <string>{-13,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{576,483}}</string>
                <key>sourceSize</key>
                <string>{606,561}</string>
            </dict>
            <key>effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,303},{582,487}}</string>
                <key>offset</key>
                <string>{-12,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{582,487}}</string>
                <key>sourceSize</key>
                <string>{606,561}</string>
            </dict>
            <key>effect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2868,459},{582,489}}</string>
                <key>offset</key>
                <string>{-11,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{582,489}}</string>
                <key>sourceSize</key>
                <string>{606,561}</string>
            </dict>
            <key>effect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2296,329},{570,487}}</string>
                <key>offset</key>
                <string>{-7,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{570,487}}</string>
                <key>sourceSize</key>
                <string>{606,561}</string>
            </dict>
            <key>effect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3452,459},{558,541}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,18},{558,541}}</string>
                <key>sourceSize</key>
                <string>{606,561}</string>
            </dict>
            <key>effect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{3156,2},{556,455}}</string>
                <key>offset</key>
                <string>{20,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,105},{556,455}}</string>
                <key>sourceSize</key>
                <string>{606,561}</string>
            </dict>
            <key>effect_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2596,2},{558,325}}</string>
                <key>offset</key>
                <string>{19,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,236},{558,325}}</string>
                <key>sourceSize</key>
                <string>{606,561}</string>
            </dict>
            <key>effect_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,2},{566,299}}</string>
                <key>offset</key>
                <string>{20,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,262},{566,299}}</string>
                <key>sourceSize</key>
                <string>{606,561}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iceswordskill.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28e4412950463efec3593ffa531cbd52:5158b0b75812d9c4ff353bb8ff90c909:7748ad782e9bcd774bf76d0d334ee1a6$</string>
            <key>textureFileName</key>
            <string>iceswordskill.png</string>
        </dict>
    </dict>
</plist>
