<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>screen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{991,161}}</string>
                <key>offset</key>
                <string>{-3,344}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{991,161}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,2},{1013,329}}</string>
                <key>offset</key>
                <string>{1,237}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{1013,329}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4070,355},{1015,363}}</string>
                <key>offset</key>
                <string>{0,219}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{1015,363}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{6104,361},{1015,365}}</string>
                <key>offset</key>
                <string>{0,219}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{1015,365}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{5087,357},{1015,365}}</string>
                <key>offset</key>
                <string>{0,218}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{1015,365}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{1015,367}}</string>
                <key>offset</key>
                <string>{0,218}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{1015,367}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{7121,361},{1015,367}}</string>
                <key>offset</key>
                <string>{0,217}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{1015,367}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2036,704},{1015,369}}</string>
                <key>offset</key>
                <string>{0,217}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{1015,369}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,692},{1015,369}}</string>
                <key>offset</key>
                <string>{0,216}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{1015,369}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{4070,720},{1015,371}}</string>
                <key>offset</key>
                <string>{0,216}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{1015,371}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{3053,710},{1015,371}}</string>
                <key>offset</key>
                <string>{0,215}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{1015,371}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{5087,724},{1015,691}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{1015,691}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3003,2},{1015,339}}</string>
                <key>offset</key>
                <string>{0,231}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{1015,339}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{6104,728},{1015,711}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{1015,711}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,1063},{1015,739}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{1015,739}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{3053,1083},{1015,789}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{1015,789}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{7121,1447},{1015,825}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{1015,825}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{6104,1441},{1015,825}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{1015,825}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{5087,1417},{1015,819}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{1015,819}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{4070,1093},{1015,795}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{1015,795}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2036,1075},{1015,763}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{1015,763}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,921},{1015,731}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{1015,731}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{7121,730},{1015,715}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{1015,715}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4020,2},{1015,345}}</string>
                <key>offset</key>
                <string>{0,228}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{1015,345}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{7071,2},{1013,357}}</string>
                <key>offset</key>
                <string>{1,223}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{1013,357}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{991,189}}</string>
                <key>offset</key>
                <string>{-3,306}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{991,189}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{5037,2},{1015,351}}</string>
                <key>offset</key>
                <string>{0,226}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{1015,351}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{6054,2},{1015,353}}</string>
                <key>offset</key>
                <string>{0,224}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{1015,353}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,333},{1015,357}}</string>
                <key>offset</key>
                <string>{0,223}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{1015,357}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{1015,357}}</string>
                <key>offset</key>
                <string>{0,222}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{1015,357}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{3053,349},{1015,359}}</string>
                <key>offset</key>
                <string>{0,222}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{1015,359}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
            <key>screen_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2036,343},{1015,359}}</string>
                <key>offset</key>
                <string>{0,221}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{1015,359}}</string>
                <key>sourceSize</key>
                <string>{1015,849}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laserskill.png</string>
            <key>size</key>
            <string>{8192,8192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46cf423923a542b7d4a3e085c8769fab:23311f9317783f7bd1ba70488c08eaec:679c23fa774bc111e55e2378fb733538$</string>
            <key>textureFileName</key>
            <string>laserskill.png</string>
        </dict>
    </dict>
</plist>
