<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,2},{119,117}}</string>
                <key>offset</key>
                <string>{315,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{724,97},{119,117}}</string>
                <key>sourceSize</key>
                <string>{937,281}</string>
            </dict>
            <key>effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,518},{219,187}}</string>
                <key>offset</key>
                <string>{305,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{664,94},{219,187}}</string>
                <key>sourceSize</key>
                <string>{937,281}</string>
            </dict>
            <key>effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{937,143}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,98},{937,143}}</string>
                <key>sourceSize</key>
                <string>{937,281}</string>
            </dict>
            <key>effect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,314},{921,149}}</string>
                <key>offset</key>
                <string>{-5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,100},{921,149}}</string>
                <key>sourceSize</key>
                <string>{937,281}</string>
            </dict>
            <key>effect_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,147},{915,165}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,95},{915,165}}</string>
                <key>sourceSize</key>
                <string>{937,281}</string>
            </dict>
            <key>effect_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{875,157}}</string>
                <key>offset</key>
                <string>{20,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,103},{875,157}}</string>
                <key>sourceSize</key>
                <string>{937,281}</string>
            </dict>
            <key>effect_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,614},{745,169}}</string>
                <key>offset</key>
                <string>{-11,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,92},{745,169}}</string>
                <key>sourceSize</key>
                <string>{937,281}</string>
            </dict>
            <key>effect_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,785},{719,193}}</string>
                <key>offset</key>
                <string>{-9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,63},{719,193}}</string>
                <key>sourceSize</key>
                <string>{937,281}</string>
            </dict>
            <key>effect_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{677,107}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,95},{677,107}}</string>
                <key>sourceSize</key>
                <string>{937,281}</string>
            </dict>
            <key>effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,614},{221,171}}</string>
                <key>offset</key>
                <string>{333,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{691,96},{221,171}}</string>
                <key>sourceSize</key>
                <string>{937,281}</string>
            </dict>
            <key>effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,265},{195,251}}</string>
                <key>offset</key>
                <string>{328,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{699,0},{195,251}}</string>
                <key>sourceSize</key>
                <string>{937,281}</string>
            </dict>
            <key>effect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,2},{261,203}}</string>
                <key>offset</key>
                <string>{288,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{626,40},{261,203}}</string>
                <key>sourceSize</key>
                <string>{937,281}</string>
            </dict>
            <key>effect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,837},{219,157}}</string>
                <key>offset</key>
                <string>{308,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{667,73},{219,157}}</string>
                <key>sourceSize</key>
                <string>{937,281}</string>
            </dict>
            <key>effect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,739},{187,125}}</string>
                <key>offset</key>
                <string>{325,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{700,94},{187,125}}</string>
                <key>sourceSize</key>
                <string>{937,281}</string>
            </dict>
            <key>effect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,866},{163,121}}</string>
                <key>offset</key>
                <string>{339,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{726,95},{163,121}}</string>
                <key>sourceSize</key>
                <string>{937,281}</string>
            </dict>
            <key>effect_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,866},{147,119}}</string>
                <key>offset</key>
                <string>{346,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{741,96},{147,119}}</string>
                <key>sourceSize</key>
                <string>{937,281}</string>
            </dict>
            <key>effect_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,465},{921,147}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,96},{921,147}}</string>
                <key>sourceSize</key>
                <string>{937,281}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spiritskill.png</string>
            <key>size</key>
            <string>{1398,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43f806eec76b6a066061fb8073c2fe9e:4926c90be9827c871e92661d28232b69:fa4dc40095e29a97089bb746a8be57c0$</string>
            <key>textureFileName</key>
            <string>spiritskill.png</string>
        </dict>
    </dict>
</plist>
