<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,825},{254,393}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{328,141},{254,393}}</string>
                <key>sourceSize</key>
                <string>{920,545}</string>
            </dict>
            <key>effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,543},{280,433}}</string>
                <key>offset</key>
                <string>{-5,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,105},{280,433}}</string>
                <key>sourceSize</key>
                <string>{920,545}</string>
            </dict>
            <key>effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3496,2},{568,539}}</string>
                <key>offset</key>
                <string>{-175,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{568,539}}</string>
                <key>sourceSize</key>
                <string>{920,545}</string>
            </dict>
            <key>effect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{916,539}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{916,539}}</string>
                <key>sourceSize</key>
                <string>{920,545}</string>
            </dict>
            <key>effect_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{890,533}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{890,533}}</string>
                <key>sourceSize</key>
                <string>{920,545}</string>
            </dict>
            <key>effect_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,2},{862,499}}</string>
                <key>offset</key>
                <string>{18,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,41},{862,499}}</string>
                <key>sourceSize</key>
                <string>{920,545}</string>
            </dict>
            <key>effect_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2676,2},{818,465}}</string>
                <key>offset</key>
                <string>{-3,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,75},{818,465}}</string>
                <key>sourceSize</key>
                <string>{920,545}</string>
            </dict>
            <key>effect_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2676,469},{784,443}}</string>
                <key>offset</key>
                <string>{-16,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,97},{784,443}}</string>
                <key>sourceSize</key>
                <string>{920,545}</string>
            </dict>
            <key>effect_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,503},{770,439}}</string>
                <key>offset</key>
                <string>{-21,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,101},{770,439}}</string>
                <key>sourceSize</key>
                <string>{920,545}</string>
            </dict>
            <key>effect_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,537},{734,417}}</string>
                <key>offset</key>
                <string>{-25,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,122},{734,417}}</string>
                <key>sourceSize</key>
                <string>{920,545}</string>
            </dict>
            <key>effect_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2584,914},{690,389}}</string>
                <key>offset</key>
                <string>{-8,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,150},{690,389}}</string>
                <key>sourceSize</key>
                <string>{920,545}</string>
            </dict>
            <key>effect_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{3462,543},{506,267}}</string>
                <key>offset</key>
                <string>{-60,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,271},{506,267}}</string>
                <key>sourceSize</key>
                <string>{920,545}</string>
            </dict>
            <key>effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,956},{284,457}}</string>
                <key>offset</key>
                <string>{-4,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,83},{284,457}}</string>
                <key>sourceSize</key>
                <string>{920,545}</string>
            </dict>
            <key>effect_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1081},{340,229}}</string>
                <key>offset</key>
                <string>{18,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,302},{340,229}}</string>
                <key>sourceSize</key>
                <string>{920,545}</string>
            </dict>
            <key>effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,944},{286,463}}</string>
                <key>offset</key>
                <string>{-4,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,77},{286,463}}</string>
                <key>sourceSize</key>
                <string>{920,545}</string>
            </dict>
            <key>effect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,543},{284,465}}</string>
                <key>offset</key>
                <string>{-4,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,75},{284,465}}</string>
                <key>sourceSize</key>
                <string>{920,545}</string>
            </dict>
            <key>effect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3462,812},{282,469}}</string>
                <key>offset</key>
                <string>{-4,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,76},{282,469}}</string>
                <key>sourceSize</key>
                <string>{920,545}</string>
            </dict>
            <key>effect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3743,1096},{346,465}}</string>
                <key>offset</key>
                <string>{27,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,75},{346,465}}</string>
                <key>sourceSize</key>
                <string>{920,545}</string>
            </dict>
            <key>effect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{3276,1096},{416,465}}</string>
                <key>offset</key>
                <string>{-9,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,75},{416,465}}</string>
                <key>sourceSize</key>
                <string>{920,545}</string>
            </dict>
            <key>effect_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{390,463}}</string>
                <key>offset</key>
                <string>{-16,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,76},{390,463}}</string>
                <key>sourceSize</key>
                <string>{920,545}</string>
            </dict>
            <key>effect_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2121,944},{324,461}}</string>
                <key>offset</key>
                <string>{-37,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,76},{324,461}}</string>
                <key>sourceSize</key>
                <string>{920,545}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>swordrayskill.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ecbcca871f21c6ab0884517e81649eb:2f1da00b36c3cf941d7f1e740ff275fa:d6f0ff652c252596049362c85fea59e4$</string>
            <key>textureFileName</key>
            <string>swordrayskill.png</string>
        </dict>
    </dict>
</plist>
