<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{4804,3597},{919,184}}</string>
                <key>offset</key>
                <string>{-22,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,130},{919,184}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4558,1201},{1193,320}}</string>
                <key>offset</key>
                <string>{3,139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{1193,320}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2360,2},{1199,582}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1199,582}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,2404},{1199,584}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1199,584}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,1203},{1199,584}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1199,584}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,2},{1199,584}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1199,584}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,2404},{1199,584}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1199,584}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,1203},{1199,584}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1199,584}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,2},{1199,584}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1199,584}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2404},{1199,584}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1199,584}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2690,2404},{1199,328}}</string>
                <key>offset</key>
                <string>{0,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1199,328}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2404,3605},{1199,328}}</string>
                <key>offset</key>
                <string>{0,135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1199,328}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4234,1201},{1197,322}}</string>
                <key>offset</key>
                <string>{1,137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{1197,322}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{3020,2404},{1199,326}}</string>
                <key>offset</key>
                <string>{0,136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1199,326}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2728,1203},{1199,326}}</string>
                <key>offset</key>
                <string>{0,136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1199,326}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2360,2404},{1199,328}}</string>
                <key>offset</key>
                <string>{0,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1199,328}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2360,1203},{1199,366}}</string>
                <key>offset</key>
                <string>{0,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1199,366}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,3605},{1199,372}}</string>
                <key>offset</key>
                <string>{0,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1199,372}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3605},{1199,472}}</string>
                <key>offset</key>
                <string>{0,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1199,472}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2404},{1199,598}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1199,598}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1203},{1199,598}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1199,598}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1199,598}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1199,598}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2944,2},{1197,596}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{1197,596}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3934,2400},{1197,324}}</string>
                <key>offset</key>
                <string>{1,137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{1197,324}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{3056,1201},{1197,592}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{1197,592}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{3542,2},{1197,590}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{1197,590}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{4260,2400},{1195,582}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{1195,582}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{4716,2},{1185,314}}</string>
                <key>offset</key>
                <string>{2,141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{1185,314}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3605,3599},{1197,326}}</string>
                <key>offset</key>
                <string>{1,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{1197,326}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3650,1201},{1197,582}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{1197,582}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4134,2},{1197,580}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{1197,580}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{3348,2400},{1197,584}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{1197,584}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1203},{1199,584}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1199,584}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
            <key>effect_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{1199,584}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1199,584}}</string>
                <key>sourceSize</key>
                <string>{1199,598}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>thunderskill.png</string>
            <key>size</key>
            <string>{8192,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fedd7867a4a34bac0fd282bf169b69d7:28442e659393662ec05ef09b15ec3036:6391f72097ac8413367c84723657413d$</string>
            <key>textureFileName</key>
            <string>thunderskill.png</string>
        </dict>
    </dict>
</plist>
